<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from www.ansonika.com/citytours/index_17.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jun 2022 05:27:14 GMT -->

<head>
<title>Home | Best tour package India | Go Journey India</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keyword" content="tourism india, travel agents, best tourist places in india, best places to visit in india, historical places in india, most beautiful places india, india travel agency, india tour, tour package, famous places in india">
<meta name="description" content="Go Journey India is an Indian-based Travel company We are provided all India Tour packages">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- all url hit to open same url opne website -->
<link rel="canonical" href="https://www.gojourneyindia.com/">

<link rel="icon" href="img/favicon.ico" type="image/x-icon">
   <%- include("./partials/link_file/csslink/allcss.ejs"); %>

</head>

<body>
   <div id="preloader">
      <div class="sk-spinner sk-spinner-wave">
         <div class="sk-rect1"></div>
         <div class="sk-rect2"></div>
         <div class="sk-rect3"></div>
         <div class="sk-rect4"></div>
         <div class="sk-rect5"></div>
      </div>
   </div>
   <!-- End Preload -->
   <div class="layer"></div>
   <!-- Mobile menu overlay mask -->
   <!-- Header================================================== -->
   <%- include("./partials/layout/header/header.ejs"); %>
   <main>
      <!-- START SLIDER -->
      <div id="rev_slider_44_wrapper" class="rev_slider_wrapper fullscreen-container">
         <!-- Start revolution slider 5.4.8 fullscreen mode -->
         <div id="rev_slider_44" class="rev_slider fullscreenbanner" data-version="5.4.8">
            <ul>
               <!-- start slide 01 -->
               <li data-index="rs-73" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                  data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut"
                  data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="01" data-param1="01"
                  data-description="">
                  <!-- main image -->
                  <img src="rev-slider-files/assets/tajmahal.jpg" alt="slide_1" data-bgcolor="#ccc"
                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
                     class="rev-slidebg" data-no-retina>
                  <div class="rev-slider-mask"></div>
                  <!-- opacity mask -->
                  <!-- main text layer -->
                  <div class="tp-caption tp-resizeme text-center imageslider" id="slide-411-layer-01"
                     data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
                     data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
                     data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
                     data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
                     data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
                     >Welcome To
                     India
                  </div>
                  <!-- small text layer -->
                  <div class="tp-caption tp-resizeme text-center text-white" id="slide-411-layer-02"
                     data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                     data-width="auto" data-height="auto" data-fontsize="['21','16','19','14']"
                     data-lineheight="['28','14','23','20']" data-letterspacing="['0.5','0.5','0.5','0.5']"
                     data-responsive="off" data-responsive_offset="on">Cheapest Rates Tours, Car,
                     Rentals, luxurious Hotels </div>
                  <!-- btn layer -->
               </li>
               <!-- end slide 01 -->
               <!-- start slide 02 -->
               <li data-index="rs-74" data-transition="fadetotopfadefrombottom" data-slotamount="default"
                  data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
                  data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                  data-title="02" data-param1="02" data-description="">
                  <!-- main image -->
                  <img src="rev-slider-files/assets/slide-manali.jpg" alt="slide_2" data-bgcolor="#ccc"
                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
                     class="rev-slidebg" data-no-retina>
                  <div class="rev-slider-mask slideropacity" ></div>
                  <!-- opacity mask -->
                  <!-- main text layer -->
                  <div class="tp-caption tp-resizeme alt-font font-weight-600 text-center imageslider" id="slide-411-layer-04"
                     data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
                     data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
                     data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
                     data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
                     data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
                     >North India<br>
                     Kashmir, Rajasthan, Delhi Agra</div>
                  <!-- small text layer -->
                  <div class="tp-caption tp-resizeme text-white text-center text-white" id="slide-411-layer-05"
                     data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                     data-width="auto" data-height="auto" data-fontsize="['21','13','19','14']"
                     data-lineheight="['28','14','23','20']" data-letterspacing="['0.5','0.5','0.5','0.5']"
                     data-responsive="off" data-responsive_offset="on">Cheapest Rates Tours, Car,
                     Rentals, luxurious Hotels </div>
               </li>
               <!-- end slide 02 -->
               <!-- start slide 03 -->
               <li data-index="rs-75" data-transition="fadetotopfadefrombottom" data-slotamount="default"
                  data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut"
                  data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                  data-title="03" data-param1="03" data-description="">
                  <!-- main image -->
                  <img src="rev-slider-files/assets/slide-masjid.jpg" alt="slide_3" data-bgcolor="#ccc"
                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off"
                     class="rev-slidebg" data-no-retina>
                  <div class="rev-slider-mask slideropacity"></div>
                  <!-- opacity mask -->
                  <!-- main text layer -->
                  <div class="tp-caption tp-resizeme text-white text-center imageslider" id="slide-411-layer-07"
                     data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-whitespace="nowrap" data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['-50','-50','-115','-65']" data-width="auto" data-height="auto"
                     data-fontsize="['70','53','60','35']" data-lineheight="['70','59','70','39']"
                     data-letterspacing="['-2','-1','-1','-1']" data-responsive="off" data-responsive_offset="off"
                     data-paddingtop="['0','0','0','0']" data-paddingbottom="['15','8','8','8']"
                     data-paddingright="['0','0','0','0']" data-paddingleft="['0','0','0','0']"
                     >
                     You Feel...<br> Relax WithS Us
                  </div>
                  <!-- small text layer -->
                  <div class="tp-caption tp-resizeme alt-font text-white font-weight-300 text-center imageslider"
                     id="slide-411-layer-08"
                     data-frames='[{"delay":1200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[-100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-type="text" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['65','100','-5','15']"
                     data-width="auto" data-height="auto" data-fontsize="['21','13','19','14']"
                     data-lineheight="['28','14','23','20']" data-letterspacing="['0.5','0.5','0.5','0.5']"
                     data-responsive="off" data-responsive_offset="on">Cheapest Rates Tours, Car,
                     Rentals, luxurious Hotels</div>
                  <!-- btn layer -->
               </li>
               <!-- end slide 01 -->
            </ul>
         </div>
      </div>
      <!-- END REVOLUTION SLIDER -->
      <!-- /white_bg -->
      <div class="container margin_60">
         <div class="main_title">
            <h2 class="color-dark-blue">India <span class="color-dark-red">Top</span> Tours</h2>
            <p>Top Trending India Holiday Destinations
         </div>
         <div class="row ">
            <% for(var i=0; i< tourData.length; i++){%>
            <div class="card py-3 col-md-6 col-lg-3 border">
               <img src="img/<%=tourData[i].tourimg%>" height="150px" class="" alt="<%=tourData[i].tourimg%>">
               <% var rating = tourData[i].rating %>
               <% let star = 0 %>
               <% let user = 0 %>
               
               <%rating.forEach(function (value, i) {%>
                 
                  <% star += value.star %>
                  <% user ++ %>
                 
                
              <%})%>
              <% let final = star/user%>
              <%let decimal = final.toFixed(1)%>
              
               <%if(!rating.length==0){%>
                  <div>
                     
                  <div class="text-white text-center ratingHome bg-color-dark-red "><%=decimal%> <span class="fa fa-star checked"></span> </div>
                  
               </div>
                  
                  <%}else{%>
                     <div class=" text-white text-center ratingHome bg-color-dark-blue ">0.0 <span class="fa fa-star checked"></span></div>
                  <%}%>
               
               <div class="tour_title">
                  <h6 class="color-dark-blue py-2 fw-bold"> <i class="icon_set_1_icon-43"></i> <%=tourData[i].tourname%></h6>
            
                 
         <div class="cardheight ">
                     
                     <p><b class="color-dark-red fw-bold font-size-1">Duration :</b> <span
                           class="text-black font-size-1"><%=tourData[i].duration%></span><br>
                        <b class="font-size-1"><%=tourData[i].location%></b><br>
                        <b class="color-dark-blue font-size-1">INR : <%=tourData[i].tourpice%></b> /- <span
                           class="color-dark-red fw-bold font-size-1"><%=tourData[i].persone%></span>
                  </div>
                 
                  <!-- <a class="btn_full_outline" href="#"> Read More</a><br> -->
                  <a class="btn bg-color-dark-red w-100 text-white border b-10" href="tour/<%=tourData[i]._id%>">Read
                     More</a>

               </div>
            </div>
            <%}%>
            
           <!-- End box tour -->
            </div>
      </div>
      
      <div class="container">
			<div class="main_title">
				<h2 class="color-dark-blue">Some <span class="color-dark-red">images</span> from travellers</h2>
				
			</div>
			<hr>
			<div class="row magnific-gallery add_bottom_60 ">
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/1.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/2.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/3.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/4.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/5.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
            <div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/6.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/6.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/7.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/7.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/8.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/8.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="img/gallery/9.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/9.jpg" alt="Image" class="img-fluid">
								<i class="icon-resize-full-2"></i>
							</a>
						</div>
					</div>
				</div>
            
         </div>
          <div class="text-center py-3">
                  <a href="gallery" class="btn bg-color-dark-red text-white">View All</a>
          </div>
         
         <%- include("./whatsapp.ejs"); %>
   </main>
   <!-- End main -->
   <!-- footer -->
   <%- include("./partials/layout/footer/footer.ejs"); %>
   <div id="toTop"></div>
   <!-- Back to top button -->
   <!-- Search Menu -->
   <div class="search-overlay-menu">
      <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
      <form role="search" id="searchform" method="get">
         <input value="" name="q" type="text" placeholder="Search..." />
         <button type="submit"><i class="icon_set_1_icon-78"></i>
         </button>
      </form>
   </div>
   <!-- End Search Menu -->
   <!-- /Sign In Popup -->
   <!-- Common scripts -->
   <script src="js/jquery-3.6.0.min.js"></script>
   <script src="js/common_scripts_min.js"></script>
   <script src="js/functions.js"></script>
   <!-- SLIDER REVOLUTION SCRIPTS  -->
   <script src="rev-slider-files/js/jquery.themepunch.tools.min.js"></script>
   <script src="rev-slider-files/js/jquery.themepunch.revolution.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.actions.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.carousel.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.kenburn.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.layeranimation.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.migration.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.navigation.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.parallax.min.js"></script>
   <script src="rev-slider-files/js/extensions/revolution.extension.slideanims.min.js"></script>
   <!-- <script src="rev-slider-files/js/extensions/revolution.extension.video.min.js"></script> -->
 
   <script>
      var tpj = jQuery;

      var revapi44;
      tpj(document).ready(function () {
         if (tpj("#rev_slider_44").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_44");
         } else {
            revapi44 = tpj("#rev_slider_44").show().revolution({
               sliderType: "standard",
               jsFileLocation: "revolution-slider/js/",
               sliderLayout: "fullscreen",
               dottedOverlay: "none",
               delay: 4500,
               navigation: {
                  keyboardNavigation: "on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  mouseScrollReverse: "default",
                  onHoverStop: "off",
                  touch: {
                     touchenabled: "on",
                     touchOnDesktop: "on",
                     swipe_threshold: 75,
                     swipe_min_touches: 1,
                     swipe_direction: "horizontal",
                     drag_block_vertical: false
                  },
                  arrows: {
                     enable: true,
                     style: 'erinyen',
                     tmp: '',
                     rtl: false,
                     hide_onleave: true,
                     hide_onmobile: true,
                     hide_under: 767,
                     hide_over: 9999,
                     hide_delay: 0,
                     hide_delay_mobile: 0,

                     left: {
                        container: 'slider',
                        h_align: 'left',
                        v_align: 'center',
                        h_offset: 60,
                        v_offset: 0
                     },

                     right: {
                        container: 'slider',
                        h_align: 'right',
                        v_align: 'center',
                        h_offset: 60,
                        v_offset: 0
                     }
                  },
                  bullets: {
                     enable: true,
                     style: 'zeus',
                     direction: 'horizontal',
                     rtl: false,

                     container: 'slider',
                     h_align: 'center',
                     v_align: 'bottom',
                     h_offset: 0,
                     v_offset: 30,
                     space: 7,

                     hide_onleave: false,
                     hide_onmobile: false,
                     hide_under: 0,
                     hide_over: 767,
                     hide_delay: 200,
                     hide_delay_mobile: 1200
                  },
               },
               responsiveLevels: [1240, 1025, 778, 480],
               visibilityLevels: [1920, 1500, 1025, 768],
               gridwidth: [1200, 991, 778, 480],
               gridheight: [1025, 1366, 1025, 868],
               lazyType: "none",
               shadow: 0,
               spinner: "spinner4",
               stopLoop: "off",
               stopAfterLoops: -1,
               stopAtSlide: -1,
               shuffle: "off",
               autoHeight: "on",
               fullScreenAutoWidth: "on",
               fullScreenAlignForce: "off",
               fullScreenOffsetContainer: "",
               disableProgressBar: "on",
               hideThumbsOnMobile: "on",
               hideSliderAtLimit: 0,
               hideCaptionAtLimit: 0,
               hideAllCaptionAtLimit: 0,
               debugMode: false,
               fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
               }
            });
         }
      });
   </script>

   
</body>
</html>