<%- include('./admindashboardsidebar.ejs')%>
<div class="container">
   <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
         <div class="card border-0 shadow rounded-3">
            <div class="card-body p-sm-5">
               <h5 class="card-title text-center mb-5 fw-light fs-5">Update Tour</h5>
               <% if(typeof err !='undefined' ){%>
               <div class="alert alert-dismissible alert-danger">
                  <strong>
                     <%= err %>
                  </strong>
               </div>
               <% } %>
               <form method="post" action="/edit/<%=tableData._id%>" enctype="multipart/form-data">
                  <div class="row">
                     <div class="col-md-4">
                        <label for="floatingInput">Tour Name</label>
                        <input type="text" name="tourname" value="<%=tableData.tourname%>" class="form-control"
                           id="floatingInput" placeholder="Enter tour name" />
                     </div>
                     <div class="col-md-4">
                        <label for="floatingInput">Duration</label>
                        <input type="text" name="duration" class="form-control" value="<%=tableData.duration%>"
                           id="floatingInput" placeholder="Enter duration" />
                     </div>
                     <div class="col-md-4">
                        <div class="form-floating mb-3">
                           <label for="floatingPassword">Location</label>
                           <input type="text" name="location" class="form-control" id="floatingPassword"
                              value="<%=tableData.location%>" placeholder="Enter location" />
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-floating mb-3">
                           <label for="floatingPassword">Tour Image</label>
                           <input type="file" multiple name="tourimg" class="form-control-file" id="floatingPassword"
                              value="" placeholder="Choose tour image" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-floating mb-3">
                           <label for="floatingInput">Tour Price</label>
                           <input type="text" name="tourpice" class="form-control" id="floatingInput"
                              value="<%=tableData.tourpice%>" placeholder="Enter Tour Price" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="mb-3">
                           <label for="floatingInput" class="">Person</label><br>
                           <select class="form-select ml-2  p-1" id="" name="persone">
                              <%
                                 var options = ["per Person", "per couple", ];
                                   for ( var i = 0; i < options.length; i++ ) {
                                 var isSelected = ( tableData.persone == options[i] ) ? "selected" : "" ; %>
                              <option value="<%=options[i]%>" <%=isSelected %>>
                                 <%= options[i] %>
                              </option>
                               <% }%>
                             
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 py-3">
                        <div class="form-floating mb-3">
                           <label for="floatingPassword">Tour State</label>
                           <!--- India states -->
                           <select class="form-select ml-2 p-1"
                               name="state">
                              <%
                              var options = ["India","Andaman and Nicobar Islands", "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chandigarh", "Chhattisgarh", "Dadra and Nagar Haveli", "Daman and Diu", "Delhi", "Goa","Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir","Jharkhand", "Karnataka", "Kerala", "Ladakh","Lakshadweep", "Madhya Pradesh", "Maharashtra", "Manipur","Meghalaya", "Mizoram", "Nagaland", "Odisha","Puducherry", "Punjab", "Rajasthan", "Sikkim","Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh","Uttarakhand", "West Bengal"];
                              for ( var i = 0; i < options.length; i++ ) {
                                  var isSelected = ( tableData.state == options[i] ) ? "selected" : "" ; %>
                                 <option value="<%=options[i]%>" <%=isSelected %>>
                                    <%= options[i] %>
                                 </option>
                                 
                                 <%
                              }
                              %>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-4 py-3">
                        <div class="form-floating mb-3">
                           <label for="floatingInput" class="">Tour Session</label><br>
                           <select class="form-select ml-2 form-select-lg p-1" id="" name="session">
                              <%
                                 var options = ["summer", "winter", "both"];
                                 for ( var i = 0; i < options.length; i++ ) {
                                     var isSelected = ( tableData.session == options[i] ) ? "selected" : ""; %>
                              <option value="<%=options[i]%>" <%=isSelected %>>
                                 <%= options[i] %>
                              </option>
                              <%
                                 }
                               %>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-4 py-3">
                        <div class="form-floating mb-3">
                           <label for="floatingInput" class="">Tour Tour</label><br>
                           <select class="form-select ml-2 p-1" id="" name="toptour">
                              <%
                               var options = ["Top Rated Tour",  "Best Holyday", "Honeymoon"];
                                for ( var i = 0; i < options.length; i++ ) {
                               var isSelected = ( tableData.toptour == options[i] ) ? "selected" : ""; %>
                              <option value="<%=options[i]%>" <%=isSelected %>>
                                 <%= options[i] %>
                              </option>
                              <%} %>
                              
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 py-3">
                        <div class="mb-3">
                           <label for="floatingInput" class="">Please Select Center India</label><br>
                           <select class="form-select ml-2  p-1" id="" name="central">
                              <%
                                var options = ["eastindia",  "westindia", "norhtindia", "southindia", "centerindia"];
                                 for ( var i = 0; i < options.length; i++ ) {
                                 var isSelected = ( tableData.central == options[i] ) ? "selected" : ""; %>
                              <option value="<%=options[i]%>" <%=isSelected %>>
                                 <%= options[i] %>
                              </option>
                              <%} %>
                           
                           </select>
                        </div>
                     </div>
                     <div class="col-md-6 py-3">
                        <div class="form-floating mb-3">
                           <label for="floatingInput" class="">Choose your catogery</label><br>
                           <select class="form-select ml-2 p-1" id="" name="tourcatogery">
                              
                              <%
                                 var options = ["normal",  "standard", "premium", "budget"];
                                  for ( var i = 0; i < options.length; i++ ) {
                                  var isSelected = ( tableData.tourcatogery == options[i] ) ? "selected" : ""; %>
                              <option value="<%=options[i]%>" <%=isSelected %>>
                                 <%= options[i] %>
                              </option>
                              <%} %>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <label for="floatingInput">Tour Description SEO</label>
                           <textarea type="text" name="tourdescription" class="form-control" id="floatingInput"
                              placeholder="Enter Tour Price"><%=tableData.tourdescription%></textarea>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-floating mb-3">
                           <label for="floatingInput">Tour Keywords SEO</label>
                           <textarea type="text" name="keywords" class="form-control" id="floatingInput"
                              placeholder="Enter Tour Price"><%=tableData.keywords%></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-floating mb-3">
                           <label for="floatingInput">Tour About Describe</label>
                           <textarea type="text" name="tourabout" class="form-control" id="floatingInput"
                              placeholder="Tour About"><%=tableData.tourabout%></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-floating mb-3">
                           <label for="floatingInput">Inclusion and Exclusion</label>
                           <textarea name="inclusion" class="form-control" class="" id="inclusion" placeholder="Enter your name">
                                             </textarea>
                        </div>
                     </div>
                  </div>
                  <h6>Tour Description</h6>
                  <%var day = JSON.parse(tableData.day);%>
                  <%var hadding = JSON.parse(tableData.hadding);%>
                  <%var description = JSON.parse(tableData.description);%>
                  <div class="conatiner-fluid" id="items">
                     <% for (var i = 0; i < day.length; i++) {%>
                     <div class="next-referral">
                        <div class="row ">
                          
                           <div class="col-md-8">
                              <div class="form-floating mb-3">
                                 <label for="floatingInput">Day <%= day[i]%> Hadding</label>
                                 <input type="text" name="hadding[]" class="form-control" id="floatingInput"
                                    placeholder="Enter day day[i]%> Hadding" value="<%= hadding[i]%>"" />
                              </div>
                           </div>
                           <input type="hidden" name="day[]" class="form-control" id="floatingInput" value="<%= day[i]%>" />
                        </div>
                        <div class=" row">
                                 <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                       <textarea name="description[]" class="form-control" class="" id="editor_<%=i%>"
                                          placeholder="Enter your name"><%= description[i]%>
                                 </textarea>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <%}%>
                  </div>
                  <div class="py-3">
                     <button id="add" class="btn add-more button-yellow uppercase" type="button">+ Add another referral</button> 
                     <button type="button" class="delete btn button-white uppercase">- Remove referral</button>
                  </div>
            </div>
            <div class="border border-light ">
            
               <div class="text-center">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                    Tour Update
                  </button>
               </div>
            </div>
           
            <hr class="my-4" />
            </form>
         </div>
      </div>
   </div>
</div>
</div>
<%- include('./admindashboardnavbar.ejs')%>
                           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                           <script src="https://nightly.ckeditor.com/full/ckeditor.js"></script>
                           <script>
                              CKEDITOR.replace('inclusion')
                              let x = '<%=day.length%>';

                              for (var i = 0; i < x; i++) {
                                 CKEDITOR.replace('editor_' + i);
                              }


                              $(document).ready(function () {
                                 $(".delete").hide();
                                 //when the Add Field button is clicked
                                 $("#add").click(function (e) {
                                    x++;

                                    $(".delete").fadeIn("1500");
                                    //Append a new row of code to the "#items" div
                                    $("#items").append('<div class="next-referral py-3 col-md-12"><div class="row py-3"></label><div class="col-md-8"><label for="floatingInput">Day ' + x + ' Hadding</label><input type="text" placeholder="plz.. Enter Headding ' + x + '" name="hadding[]" class="form-control"></div><input type="hidden" name="day[]" value=' + x + ' class="form-control" ></div><textarea id="editor_' + x + '" name="description[]" type="text" placeholder="Enter name of" class="form-control  input-md"></textarea></div>')

                                    CKEDITOR.replace('editor_' + x);
                                 });
                                 $("body").on("click", ".delete", function (e) {

                                    $(".next-referral").last().remove();
                                    x--;
                                    console.log(x)
                                 });
                              });


                           </script>